<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample</title>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        td {
            text-align: center;
        }
    </style>
</head>
<body>
<div th:if="${error}">
    <p style="background-color: red" th:text="${errorMessage}"/>
</div>
<div th:if="${!error}">
<table style="width:90%">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Expiry Date</th>
        <th></th>
    </tr>

    <tr th:each="sample: ${samples}">
        <td th:text="${sample.getName()}" />
        <td th:text="${sample.getType()}" />
        <td th:text="${sample.getQuantity()}" />
        <td th:text="${sample.getExpiryDate()}" />
        <td><button th:onclick="'window.location.href=\'/sample/'+${sample.getId()}+'\''">Details</button></td>
    </tr>
</table>

    <div style="text-align: right">
    <p th:text="${totalHits} + ' samples'" />
    </div>
</div>
</body>
</html>