<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Details</title>
</head>
<body>
<button th:onclick="'window.location.href=\'/sample\''">Back</button>
<p th:text="'Name: '+ ${sample.name}"/>
<p th:text="'Type: '+ ${sample.type}"/>
<p th:text="'Source: '+ ${sample.source}"/>
<p th:text="'Quantity: '+ ${sample.quantity}"/>
<p th:text="'Storage temperature: min: '+ ${sample.storageTempMin} + '°c max: '+ ${sample.storageTempMax} + '°c'"/>
<p th:text="'Expiry Date: '+ ${sample.expiryDate}"/>
<p th:text="'Description: ' + (${sample.description.isBlank()} ? 'Aucun' : ${sample.description}) "/>
</body>
</html>